.sidebar-nav {
    height: 100%;
    width: 20%;
    position: fixed;
    right: 0;
    top: 0;
    background: #6E6D6D;
    box-shadow: 0px 19px 21px 0px rgba(151,151,151,0.50);
    box-shadow: 0px 19px 21px 0px rgba(151,151,151,0.50);
}