body {
    /* bg: */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gainsboro !important;
    background-image: radial-gradient(50% 119%, rgba(255, 255, 255, 0.43) 50%, rgba(255, 255, 255, 0.11) 100%);
}

.opacity {
    opacity: 1 !important;
    transition: 3s;
}

.playerModal {
    opacity: 0.8;
    width: 660px;
    background: #FFFFFF;
    box-shadow: 0px 19px 21px 0px rgba(151, 151, 151, 0.50);
    border-radius: 19px;
    position: relative;
    height: 460px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 0 1 600px;
    z-index: 9999;
    transition: 1.1s;
}

.expand {
    transition-timing-function: linear;
    transition: 1.1s;
    flex: 0 1 800px !important;
}

.musicWaveContainer {
    height: 175px;
    width: 100%;
    background: #FEF2EB;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.50);
    position: relative;
    margin-top: 47px;
    flex: 1 1 auto;
}

.playerModalFooter {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.button-group {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.button-group .btn {
    margin: 0px 50px;
    width: 70px;
    height: 40px;
}

.btn-play {
    /* Rectangle 7: */
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
    border-radius: 21px;
    width: 45px;
}

.btn-play .start-icon {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent black;
    margin: 10px auto;
    display: block;
}

.btn-play .pause-icon {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    margin: 10px auto;
    display: block;
}

.btn-volume {
    height: 25px !important;
    width: 25px !important;
    align-self: center;
    margin: 0px 10px !important;
}

.tape {
    align-self: center;
    position: relative;
    z-index: 1;
    left: 30px;
    transition-timing-function: linear;
    transition: 1s;
}

.tape img {
    margin-top: 38px;
    height: 350px;
}

.tapeAnimate {
    transition-timing-function: linear;
    transition: 1s;
    left: -175px;
}

.spin {
    transform: rotate(0deg);
    transition: 1s;
    animation: spin 4s linear infinite;
    animation-delay: 0.25s;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wave {
    opacity: 0;
    padding: 20px;
    /*transform: scale(0.8);*/
    background: linear-gradient(112deg, #ff5757, #ffbebe, #8050f5);
    background-size: 600% 600%;
    position: relative;
    animation: AnimationName 18s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 97%
    }
    50% {
        background-position: 100% 4%
    }
    100% {
        background-position: 0% 97%
    }
}

.light {
    display: inherit;
    position: absolute;
    top: 13px;
    left: 20px;
}

.lightBtnPlay {
    position: absolute;
    left: 2.5px;
    background: white;
    height: 15px;
    width: 15px;
    top: 2.5px;
    border-radius: 10px;
}

.blink {
    animation: blink 6s linear infinite;
}

#indicator {
    color: #424242;
}

@keyframes blink {
    0% {
        background: white;
    }
    25% {
        background: #FF7575;
    }
    50% {
        background: white;
    }
    75% {
        background: #FF7575;
    }
    100% {
        background: white;
    }
}

.lightBtn {
    /* Oval: */
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(95, 95, 95, 0.50);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
}

.circle1 {
    height: 75px !important;
    position: absolute;
    top: 68px;
    left: 59px;
}

.circle2 {
    height: 75px !important;
    position: absolute;
    top: 208px;
    left: 59px;
}