.camera {
    position: fixed;
    right: 20px;
    top: 85%;
}

.nav-header-blue {
    background-color: #2196f3 !important;
    z-index: 9999;
}

.page-title {
    font-size: 15px !important;
}

.a {
    font-size: 20px !important;
}

.side-nav .divider {
    margin: 8px 0 8px 0 !important;
}


/* test */

div.calendar {
    border: 5px solid #e3f2fd !important;
    position: absolute;
    left: 25px;
    height: 120px;
    width: 130px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin: 40px auto auto auto;
}

div.calendar h1 {
    margin: 0;
    text-align: center;
    color: black;
    font-style: bold;
    font-size: 1em;
    padding: 20px 10px 0px 10px;
    border-radius: 5px 5px 0 0;
}

div.calendar p {
    font-size: 3em;
    line-height: 0%;
    color: black;
    margin: 30px;
}

.qrcode-scan {
    text-align: center;
    padding-top: 40%;
    animation: fade 5s;
}

.qrcode-scan i {
    padding: 5px;
}

body {
    background-color: #E2F2FE;
}

.fadein-body {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.center-column {
    width: 91.6666666667%;
    margin: auto;
    padding: 0 .75rem;
    min-height: 1px;
}

#counter {
    text-align: left;
    font-family: sans-serif;
    color: #444;
    font-size: 30px;
    padding-bottom: 20px;
}

.product-image {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.profile-bg {
    background-color: #42A5f5;
    height: 200px;
}

.profile-bg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-bg h5 {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
}

.user-profile-info li {
    padding: 15px;
    text-align: center;
    color: #039be5;
}