* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    animation: fadein 4s;
    background-image: none;
    margin-bottom: -50px;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-container {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 2px 18px 0px darkslategray;
    padding: 40px;
    margin-top: 50px;
    background: white;
    animation: shakeThat 2s;
    animation-delay: 2s;
}

@keyframes shakeThat {
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.image-container h3 {
    position: absolute;
    left: 5%;
    top: 0;
    font-size: 20pt;
}
#me {
    height: 500px;
}
.glasses {
    position: absolute;
    height: 70px;
    width: 70px;
    cursor: pointer;
    top: 17%;
    left: 52%;
    border: 4px dashed darkcyan;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.glasses:hover {
    animation-name: spinBig;
}

.phone {
    position: absolute;
    height: 70px;
    width: 70px;
    cursor: pointer;
    top: 50%;
    left: 26%;
    border: 4px dashed orange;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.cat {
    position: absolute;
    height: 70px;
    width: 70px;
    cursor: pointer;
    top: 82%;
    left: 52%;
    border: 4px dashed dodgerblue;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.cat:hover {
    animation-name: spinBig;
}

.phone:hover {
    animation-name: spinBig;
}

@keyframes spin {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(90deg);
    }
    70% {
        transform: rotate(120deg);
    }
    80% {
        transform: rotate(150deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes spinBig {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(2, 2);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(2, 2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.mac {
    position: absolute;
    height: 70px;
    width: 70px;
    cursor: pointer;
    top: 45%;
    left: 44%;
    border: 4px dashed white;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 5;
}

.mac:hover {
    animation-name: spinBig;
}

header h1 {
    text-align: center;
    color: black;
}

.test {
    width: 100px;
    height: 200px;
    background-color: pink;
    margin: 33px;
    display: inline-block;
}

.test:hover {
    cursor: pointer;
}

#container {
    max-width: 850px;
    width: 90%;
    padding: 0px 5%;
    margin: auto;
}

#modalPhone {
    max-width: 850px;
    height: 300px;
    margin: auto;
    width: 384px;
    position: absolute;
    background-color: #000;
    color: gold;
    font-size: 30pt;
    display: none;
    left: 5%;
    top: 50%;
    cursor: pointer;
    border: 10px solid gold;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#modalMac {
    max-width: 850px;
    height: 300px;
    margin: auto;
    width: 384px;
    position: absolute;
    background-color: #000;
    color: gold;
    display: none;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    border: 10px solid gold;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    font-size: 30pt;
}

#modalGlasses {
    max-width: 850px;
    height: 300px;
    margin: auto;
    width: 384px;
    position: absolute;
    background-color: #000;
    color: gold;
    display: none;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    border: 10px solid gold;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    font-size: 30pt;
}

#modalCat {
    max-width: 850px;
    height: 300px;
    margin: auto;
    width: 384px;
    position: absolute;
    background-color: #000;
    color: gold;
    display: none;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    border: 10px solid gold;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    font-size: 30pt;
}

@keyframes shake {
    0% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

#block {
    display: block !important;
}

#close2 {
    position: absolute;
    top: 5%;
    right: 10px;
    cursor: pointer;
}

#close1 {
    position: absolute;
    top: 5%;
    right: 10px;
    cursor: pointer;
}

#close3 {
    position: absolute;
    top: 5%;
    right: 10px;
    cursor: pointer;
}

#close4 {
    position: absolute;
    top: 5%;
    right: 10px;
    cursor: pointer;
}

.footer-section {
    text-align: center;
    background: #404446;
    color: #fff;
    line-height: 1.6;
    padding: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
footer a {
    color: white;
    padding: 10px;
}