body {}

.image-container {
    /*background-color: white;
    color: white;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);*/
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 2px 18px 0px rgba(171, 171, 171, 1);
    padding: 40px;
    margin-top: 50px;
    background: white;
}

.phone {
    position: absolute;
    height: 70px;
    width: 70px;
    cursor: pointer;
    top: 50%;
    left: 26%;
    border: 4px dashed orange;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(90deg);
    }
    70% {
        transform: rotate(120deg);
    }
    80% {
        transform: rotate(150deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes spinBig {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(2, 2);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(2, 2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.mac {
    position: absolute;
    height: 70px;
    width: 70px;
    cursor: pointer;
    top: 45%;
    left: 44%;
    border: 4px dashed white;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.mac:hover {
    animation-name: spinBig;
}

header h1 {
    text-align: center;
    color: black;
}

.test {
    width: 100px;
    height: 200px;
    background-color: pink;
    margin: 33px;
    display: inline-block;
}

.test:hover {
    cursor: pointer;
}

#container {
    max-width: 850px;
    width: 90%;
    padding: 0px 5%;
    margin: auto;
}

#modalPhone {
    max-width: 850px;
    height: 300px;
    margin: auto;
    width: 30%;
    position: absolute;
    background-color: #000;
    color: deeppink;
    display: none;
    opacity: .85;
    left: 5%;
    top: 5%;
    cursor: pointer;
}

#modalMac {
    max-width: 850px;
    height: 300px;
    margin: auto;
    width: 30%;
    position: absolute;
    background-color: #000;
    color: deeppink;
    display: none;
    opacity: .85;
    left: 5%;
    top: 5%;
    cursor: pointer;
}

#block {
    display: block !important;
}

#close2 {
    position: absolute;
    top: 5%;
    right: 10px;
    cursor: pointer;
}

#close1 {
    position: absolute;
    top: 5%;
    right: 10px;
    cursor: pointer;
}